<!DOCTYPE html>
<head>
    <link href="/assets/style.css" rel="stylesheet" type="text/css"/> 
</head>
<body>

   <p> <%= qs.dept %></p>
   <p> <%= qs.person %></p>

    <%- include ('partials/nav'); %>
    <h1>Contact page !!!</h1>
    <p>this is contact page</p>
<form id="contact-form" method="post" action="/contact">

<label for="who">who do you want to contact?</label>
<input type="text" name="who" value="<%= qs.person %>"><br>

<label for="department">which is your department?</label>
<input type="text" name="department" value="<%= qs.dept %>"><br>

<label for="email">Email</label>
<input type="email" name="email">

<input type="submit" name="submit">
</form>

</body>
</html>