<!DOCTYPE html>
<head>
    <link href="/assets/style.css" rel="stylesheet" type="text/css"/> 
</head>
<body>
    <%- include ('partials/nav'); %>
    <h1>Welcome to Profile <%=person %> </h1>
    <p>you won't find better website anywhere</p>
    <p><strong>Age : <%=data.age %></strong></p>
    <p><strong>Job: <%= data.job %></strong></p>
    <ul>
        <% data.hobbies.forEach(function(iteam){ %>
        <li><%= iteam %></li>
        <%   }); %>
    </ul>
</body>
</html>